@import "footer.css";
@import "base.css";

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .header-first-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 2rem 0 17px;
    gap: 1rem;
}
.header .logo {
    order: 1;
    max-width: 202px;
}
.header .btn.btn-transparent {
    font-size: 16px;
    font-family: 'Hitmarker-Condensed-Light';
    padding: 0.15rem 1.6rem;
    order: 2;
}
.title-registered {
    font-family: 'Hitmarker-Normal-Bold';
    font-size: 14px;
    text-transform: uppercase;
    order: 3;
}
.section {
    /* height: 100vh; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

/* 1 */
.hero {
    align-items: flex-end;
    padding: 2rem 0 2.5rem;
    /* background-image: url('../img/hero.png'); */
}
.video-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 1s opacity;
}
.hero::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .26) 100%);
    z-index: -1;
}
.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text-wrap {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.hero-shadow {
    position: absolute;
    width: 250%;
    height: 250%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1190px;
    max-height: 498px;
    margin: auto;
    z-index: 0;
    display: none;
}
.title {
    font-family: 'Hitmarker-Normal-Bold';
    text-align: center;
    font-size: 24px;
    word-spacing: 5px;
    text-transform: uppercase;
    margin: 0 auto 15px;
    max-width: 320px;
}
.subtitle {
    font-family: 'Hitmarker-Condensed-Light';
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 28px;
}
.title-section {
    font-family: 'Hitmarker-Normal-Bold';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1rem;
}
.subtitle-section {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 2.7rem;
}
.hero .wrap-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
.hero .wrap-btn .btn {
    width: 100%;
    height: 100%;
}
/* .hero .btn.btn-primary:hover {
    background: url('../img/CerberusBtnAnim.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.hero .btn.btn-primary:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.primary-cta {
    position: relative;
    overflow: hidden;
}
.primary-cta .glint {
    position: absolute;
    display: block;
    border-radius: 2px;
    background-color: var(--white);
    z-index: 1;
}
.primary-cta .glint:nth-child(1),
.primary-cta .glint:nth-child(2),
.primary-cta .glint:nth-child(3),
.primary-cta .glint:nth-child(4) {
    background: linear-gradient(138.275deg, rgba(255, 255, 255, 0) 0%, var(--white) 44.79%, var(--white) 58.85%, rgba(255, 255, 255, 0) 100%);
}
.primary-cta .glint:nth-child(1),
.primary-cta .glint:nth-child(2) {
    height: 2px;
    width: 108px;
    left: -110px;
    transition: left 0.25s ease-in-out;
}
.primary-cta .glint:nth-child(3),
.primary-cta .glint:nth-child(4) {
    height: 108px;
    width: 2px;
    top: -110px;
    transition: top 0.125s ease-in-out;
}
.primary-cta .glint:nth-child(1) {
    top: 0;
    transition-delay: 0.075s;
}
.primary-cta .glint:nth-child(2) {
    bottom: 0;
}
.primary-cta .glint:nth-child(3) {
    left: 0;
    transition-delay: 0.2s;
}
.primary-cta .glint:nth-child(4) {
    right: 0;
}
.primary-cta:hover .glint:nth-child(1),
.primary-cta:hover .glint:nth-child(2) {
    left: 100%;
    transition: left 0.25s ease-in-out;
}
.primary-cta:hover .glint:nth-child(2) {
    transition-delay: 0.075s;
}
.primary-cta:hover .glint:nth-child(3),
.primary-cta:hover .glint:nth-child(4) {
    top: 100%;
    transition: top 0.125s ease-in-out;
}
.primary-cta:hover .glint:nth-child(4) {
    transition-delay: 0.2s;
}
.primary-cta:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero .full-armory {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    max-width: 106px;
    font-family: "Hitmarker-Normal-Medium";
    font-size: 16px;
    color: var(--white);
    border: 1px solid var(--divider-light-2);
    background-color: var(--divider-light-1);
}

/* 2 */
.section.section-how-join {
    background-image: url('../img/how-to-join.png');
}
.how-join-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1135px;
    margin: 0 auto;
    gap: 5rem;
}
.section-how-join .step-item {
    background-image: url('../img/step-bg.svg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Hitmarker-Normal-Medium";
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    max-width: 210px;
    max-height: 257px;
    padding: 2.2rem 1rem 2.6rem;
}
.section-how-join .step-title {
    font-family: "Hitmarker-Normal-Medium";
    font-size: 18px;
    color: var(--primary);
}
.section-how-join .step-item svg {
    max-width: 68px;
    max-height: 69px;
    margin: 1.5rem auto 2rem;
    fill: transparent;
    transition: all .25s ease-in-out;
}
.section-how-join .step-item:hover svg {
    transform: scale(1.1);
}
/* .double-arrow {
    width: 100%;
    max-width: 44px;
    height: 47px;
    fill: transparent;
    display: none;
} */
.how-join-step .scroll-prompt {
    display: none;
    margin: 0;
}
.how-join-step .scroll-prompt .scroll-prompt-arrow svg {
    max-width: 39px;
    max-height: 43px;
    fill: transparent;
}

/* 3 */
.section-compare-packages {
    background-image: url('../img/pistol-package-bg.png');
    padding: 3rem 0;
}
.section-compare-packages.full-armory-active {
    background-image: url('../img/full-armory-bg.png');
}
.compare-packages-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.tab-wrap {
    width: 100%;
}
.nav-tabs {
    display: flex;
    width: 100%;
    max-width: 654px;
    margin: 0 auto 1.8rem;
}
.nav-link {
    font-family: "Hitmarker-Normal-Medium";
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    display: block;
    padding: 1rem 0;
    text-align: center;
    width: 50%;
    border-bottom: 6px solid var(--divider-light-2);
}
.nav-link.active {
    color: var(--primary);
    border-color: var(--primary);
}
.weapon-wrap {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 0 2.5rem;
}
.weapon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 50%;
    max-height: 225px;
    max-height: 258px;
    background-color: #0F1F25;
    border: 1px solid var(--divider-light-3);
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
}
.weapon-item .lock-ico {
    display: none;
    max-width: 20px;
    max-height: 26px;
}
.weapon-item.closed .lock-ico {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}
.weapon-item.closed::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.weapon-item .item-img {
    padding: 1rem 0 0.5rem;
    margin: auto;
    height: 100%;
    object-fit: contain;
    max-width: 102px;
    width: 100%;
    transition: 0.5s all;
}
.section-compare-packages .weapon-item:last-child .item-img {
    max-width: 165px;
}
.weapon-item .item-title {
    font-family: "Hitmarker-Condensed-Medium";
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1rem;
    width: 100%;
    margin: auto 0 0;
}
.weapon-item .item-title .title-txt {
    position: relative;
    transition: left 0.5s ease;
    left: 0;
}
.weapon-item:hover .item-img {
    scale: 1.04;
}
.weapon-item:hover .item-title .title-txt {
    left: 5px!important;
}
.weapon-info {
    display: grid;
    /* display: flex; */
    text-transform: uppercase;
    gap: 1rem;
    font-size: 14px;
    /* flex-direction: column; */
    /* align-items: center; */
    /* text-align: center; */
}
.weapon-info .info-title {
    font-family: "Hitmarker-Normal-Bold";
    font-size: 22px;
    margin: 0 0 .5rem;
}
.weapon-info .btn {
    font-size: 15px;
    max-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sidebar-protection {
    width: 100%;
    max-width: 432px;
    max-height: 594px;
    padding: 2rem 1em;
    font-size: 20px;
    position: relative;
}
.protection-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    object-position: 0 0;
    object-fit: cover;
}
.title-protection {
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}
.sidebar-protection a {
    display: block;
    color: var(--primary);
}
.protection-group {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
}
.sidebar-protection .protection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    gap: 1rem;
}
.sidebar-protection .protection-item img {
    max-width: 140px;
}

/* 4 */
.section-course-curriculum {
    background-image: url('../img/course-curriculum.png');
}
.course-curriculum-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.section-course-curriculum .curriculum-sidebar {
    width: 100%;
    max-width: 699px;
    flex: 1 0 auto;
}
.section-course-curriculum .title-section {
    margin: 0 0 2rem;
}
.course-curriculum-nav {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.4rem;
    max-width: 620px;
    margin: 0 auto;
}
.course-curriculum-nav li {
    font-family: "Hitmarker-Normal-Bold";
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid var(--divider-light-2);
    border-bottom: 1px solid var(--divider-light-2);
    padding: 0.3rem 0.5rem;
}
.course-curriculum-nav li.active {
    background-color: rgba(217, 217, 217, 0.05);
    border: 1px solid var(--divider-light-2);
    border-bottom:  1px solid transparent;
    box-shadow: 0px 3px 0px 0px var(--primary);
}
.course-curriculum-nav li svg {
    max-width: 44px;
    max-height: 34px;
}
.course-curriculum-nav .wrap-ico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25px;
    max-height: 25px;
    margin: 0 0.5rem 0 0;
}
.course-curriculum-nav .wrap-ico img {
    max-height: 27px;
}
.curriculum-desc {
    font-size: 15px;
    width: 100%;
    max-width: 793px;
    margin: 0 auto;
    display: none;
}
.curriculum-desc.active {
    display: block;
}
.section-course-curriculum .title-desc {
    font-family: "Hitmarker-Normal-Bold";
    font-size: 18px;
    margin: 0 0 1rem;
}
/* arrow */
.scroll-prompt {
    width: 45px;
    height: 27px;
    margin: 0 60px 0 auto;
    display: none;
}
.scroll-prompt-arrow-container {
    display: flex;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.scroll-prompt-arrow {
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    width: 22.5px;
}
.scroll-prompt-arrow:last-child {
    animation-direction: reverse;
    margin-left: 8px;
}
.scroll-prompt .scroll-prompt-arrow svg {
    max-width: 40px;
    max-height: 27px;
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0.1;
	}
	20% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.4;
	}
	50% {
		opacity: 0.5;
	}
	60% {
		opacity: 0.6;
	}
	70% {
		opacity: 0.7;
	}
	80% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}
@keyframes bounce {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(3px);
	}
	20% {
		transform: translateX(6px);
	}
	30% {
		transform: translateX(9px);
	}
	40% {
		transform: translateX(12px);
	}
	50% {
		transform: translateX(15px);
	}
	60% {
		transform: translateX(18px);
	}
	70% {
		transform: translateX(21px);
	}
	80% {
		transform: translateX(24px);
	}
	90% {
		transform: translateX(27px);
	}
	100% {
		transform: translateX(30px);
	}
}

/* 5 */
.section-weapon {
    background-image: url('../img/weapon-bg.png');
}
.main-content {
    display: flex;
    position: relative;
}
.section-weapon .main-content {
    flex-wrap: wrap;
}
.tab-sidebar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    position: relative;
    margin: 0 0 3rem;
}
.sidebar-item {
    cursor: pointer;
    position: relative;
    height: 100%;
}
.sidebar-item.selected {
    border: 1px solid var(--primary);
}
.sidebar-item.selected::before {
    border: 1px solid var(--primary);
    background-color: var(--white);
}
.sidebar-item.selected::after {
    background-color: var(--primary);
}
.section-weapon .sidebar-item .item-img {
    margin: 1.2rem 0 0.9rem;
    padding: 0;
    max-height: 88px;
    max-width: 187px;
}
.section-weapon .sidebar-item .item-title {
    font-size: 18px;
    text-align: center;
    padding: 0.3rem 0;
}
.section-weapon .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.section-weapon .image-section {
    text-align: center;
    display: none;
    width: 100%;
    max-width: 945px;
}
.section-weapon .image-section .weapon-title {
    font-family: "Hitmarker-Condensed-Bold";
    font-size: 28px;
    margin: 0 0 4rem;
}
.section-weapon .image-section img {
    max-height: 393px;
}
.section-weapon .info-section {
    width: 100%;
    max-width: 420px;
    display: none;
    font-size: 15px;
}
.section-weapon .info-section .info-title {
    font-family: "Hitmarker-Normal-Bold";
    font-size: 15px;
    margin: 0 0 1rem;
}
.section-weapon .specifications {
    margin: 2rem 0 0;
}
.firearms-list {
    padding: 0 0 0 20px;
}
.firearms-list li {
    width: 100%;
    position: relative;
    padding: 0 0 0 0.5rem; 
}
.firearms-list li + li {
    margin-top: 5px;
}
.firearms-list li::before {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/target-ico.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.section-weapon .image-section.selected,
.section-weapon .info-section.selected {
    display: block;
}

/* 6 */
.section-experience {
    background-color: var(--blue);
    min-height: auto;
}
.section-experience .main-content {
    flex-direction: column;
}
.section-experience .experience-sidebar {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 214px;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    border: none;
    overflow-y: auto;
    max-height: 653px;
    position: static;
    display: none;
}
.section-experience .experience-sidebar::after {
    left: 4px;
}
.section-experience .sidebar-item {
    max-width: 135px;
    transition: transform 0.3s;
    border: none;
}
.section-experience .sidebar-item img {
    transition: transform 0.3s;
    border: 1px solid var(--divider-light-3);
    z-index: 2;
    position: relative;
}
.section-experience .sidebar-item img:hover {
    transform: scale(1.1);
}
.section-experience .sidebar-item.selected img {
    border: 1px solid var(--primary);
}
.section-experience .content-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 0 3rem;

    /* background-image: url('../img/shadow-ellipse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0; */
}
.section-experience .title-section {
    font-family: "Hitmarker-Condensed-Bold";
    font-size: 24px;
}
.section-experience .content-text {
    font-size: 18px;
    max-width: 423px;
}
.section-experience .featured-on {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0 0;
}
.title-feature {
    font-family: "Hitmarker-Condensed-Light";
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
}
.section-experience .featured-on img {
    opacity: 0.5;
    max-width: 90px;
}

.section-experience .main-slider {
    margin: 0 5px 20px;
}
.section-experience .main-slider img {
    width: 100%;
    height: auto;
}
.section-experience .thumbnail-slider .thumbnail-item {
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid var(--divider-light-3);
}
.section-experience .thumbnail-slider .thumbnail-item.slick-current {
    border-color: var(--primary);
}
.section-experience .experience-slider {
    display: block;
}

/* 7 */
.section-license {
    background-image: url('../img/license-bg.png');
}
.section-license .title-section {
    margin: 0;
}
.license-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.license-wrap:focus {
    outline: none;
}
.license-content {
    width: 100%;
    max-width: 1140px;
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    gap: 1rem;
}
.license-item {
    width: 100%;
    max-width: 1139px;
    padding: 2.5rem 1rem;
    display: grid;
    gap: 1.5rem;
    align-items: flex-start;
    position: relative;
    max-width: 375px;
    margin: 0 auto;
}
.license-item + .license-item {
    margin: 2rem auto 0;
}
.license-bg-mob {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}
.license-item .item-title {
    font-family: 'Hitmarker-Normal-Bold';
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
    width: 100%;
    position: relative;
    order: 2;
}
.license-item .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    order: 2;
}
.license-item .price-wrap {
    display: flex;
    gap: 3.5rem;
}
.license-item .btn.btn-transparent {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--divider-light-4);
    padding: 0.7rem 1.3rem;
    text-transform: inherit;
    border-radius: 3px;
    max-width: 245px;
    margin: 0 auto;
    position: relative;
    order: 3;
}
.license-item .price {
    font-family: 'Hitmarker-Normal-Bold';
    font-size: 36px;
    margin: 0 0 1rem;
}
.license-item .price-col {
    width: 100%;
    text-align: center;
    position: relative;
    order: 1;
}
.license-item .price-col .btn {
    font-size: 16px;
    padding: 0.7rem 0.5rem;
    width: 100%;
    max-width: 157px;
}
.license-item .firearms-list {
    order: 4;
}
.section-license .firearms-list li + li {
    margin: 1rem 0 0;
}
.banner-certificate {
    font-family: 'Hitmarker-Normal-Bold';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    text-align: center;
    padding: 2rem;
    width: calc(100% + 5px);
    margin: 4rem auto 0;
}
.banner-certificate .img-holder {
    margin: -55px auto 15px;
    width: 100%;
    max-width: 232px;
}
.banner-certificate .text-holder {
    max-width: 654px;
}
.license-sidebar {
    width: 100%;
}
.license-sidebar .title-section {
    margin: 0 0 1.5rem;
}
.license-sidebar .license-list {
    font-size: 18px;
    margin: 0 0 2rem;
    order: 4;
}
.license-sidebar .license-list li {
    margin: 0 0 1rem;
}

/* 8 */
.section-faq {
    background-image: url('../img/faq-bg.png');
}
.faq-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}
.faq-col {
    width: 100%;
    max-width: 100%;
}
.faq-wrap .title-section {
    margin: 0 0 2.5rem;
}
.faq-list li {
    width: 100%;
    border: 1px solid var(--divider-light-2);
    cursor: pointer;
}
.faq-list li + li {
    margin: 1.2rem 0 0;
}
.faq-question {
    font-family: 'Hitmarker-Normal';
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--divider-light-1);
    transition: all .25s ease-in-out;
}
.faq-question:hover,
.faq-question.open,
.faq-question.open + .faq-answer  {
    background-color: var(--divider-light-2);
}
.faq-answer {
    font-size: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    background-color: var(--divider-light-1);
    transition: all .25s ease-in-out;
}
.faq-answer p {
    margin: 10px 0;
    padding: 0;
}
.faq-question svg {
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
}
.faq-question.open svg {
    transform: rotate(45deg);
}
.contact-col {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
.contact-col .item-title {
    font-family: 'Hitmarker-Normal-Medium';
    text-transform: uppercase;
    margin: 0 0 .5rem;
    font-size: 18px;
}
.contact-col a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem;
}
.contact-col .google-map {
    margin: 0 0 1.5rem;
}
.contact-col .google-map iframe {
    max-width: 100%;
}
.contact-col .subtitle-section {
    font-family: 'Hitmarker-Normal-Bold';
}

@media (min-width: 768px) {
    /* 3 */
    .weapon-item .item-img {
        padding: 2.2rem 1rem 0;
        max-width: 260px;
    }
    .section-compare-packages .weapon-item:last-child .item-img {
        max-width: 410px;
    }
}

@media (min-width: 992px) {
    .section {
        align-items: center;
        padding: 0;
    }
    .header {
        position: fixed;
    }
    .header .header-first-content {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--divider-light-3);
        padding: 13px 0 17px;
        gap: 0;
    }
    .title-registered {
        font-size: 20px;
        order: 2;
    }
    .header .logo {
        max-width: 290px;
    }
    .header .btn.btn-transparent {
        font-size: 24px;
        padding: .55rem 3.85rem;
        order: 3;
    }
    .title {
        font-size: 64px;
        word-spacing: 12px;
        margin: 0 auto 26px;
        max-width: 828px;
    }
    .subtitle {
        font-size: 24px;
        margin: 0 0 35px;
    }
    .title-section {
        font-size: 28px;
    }
    .subtitle-section {
        font-size: 18px;
        margin: 0 0 2.85rem;
    }
    .section.hero {
        padding: 0;
        /* padding: 2rem 0; */
    }
    .hero-shadow {
        display: none;
    }
    .hero .wrap-btn {
        flex-direction: row;
        align-items: stretch;
    }
    .hero .wrap-btn .btn {
        max-width: 445px;
        padding: 1.8rem 1rem;
    }

    /* 2 */
    /* .section.section-how-join {
        padding: 2rem 0;
    } */
    .how-join-step .scroll-prompt {
        display: flex;
    }
    .how-join-step {
        flex-direction: row;
        gap: 0;
    }
    .section-how-join .step-item {
        padding: 2rem 1rem 3.5rem;
        opacity: 0;
    }
    .section-how-join .step-item svg {
        margin: 1.5rem auto;
    }

    /* 3 */
    /* .section-compare-packages {
        padding: 0;
    } */
    .compare-packages-wrap {
        flex-direction: row;
    }
    .tab-wrap {
        max-width: 65%;
    }
    .weapon-wrap {
        gap: 2rem;
        margin: 0 0 2rem;
    }
    .weapon-item {
        max-width: 492px;
    }
    .weapon-item .lock-ico {
        max-width: 60px;
        max-height: 78px;
    }
    .nav-tabs {
        margin: 0 auto 2rem;
    }
    .weapon-item .item-title {
        font-size: 24px;
        padding: 0.65rem 1rem;
    }
    .weapon-info {
        /* font-size: 18px; */
        text-align: left;
        gap: 2rem;
        /* flex-direction: row; */
        align-items: flex-start;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .weapon-info .btn {
        /* font-size: 22px; */
        padding: 1rem 0;
        max-width: 327px;
    }
    .sidebar-protection {
        padding: 3rem 1.2rem;
    }
    .protection-group {
        gap: 3rem;
    }
    .sidebar-protection .protection-item img {
        max-width: none;
    }
    .title-protection {
        text-align: left;
        margin: 0 0 15px;
    }

    /* 4 */
    .section-course-curriculum .title-section {
        border-bottom: 1px solid var(--divider-light-3);
        text-align: left;
        padding: 0 0 1.5rem;
    }
    .course-curriculum-nav li.active .scroll-prompt {
        display: flex;
    }
    .course-curriculum-nav {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 0 0 5rem;
    }
    .course-curriculum-nav li {
        font-size: 24px;
        border: 1px solid transparent;
        padding: 1.4rem 0 1rem;
    }
    .course-curriculum-nav .wrap-ico {
        max-width: 56px;
        max-height: 56px;
        margin: 0 1rem 0 0;
    }
    .course-curriculum-nav .wrap-ico img {
        max-height: none;
    }

    /* 5 */
    .section-weapon .main-content {
        flex-wrap: nowrap;
    }
    .section-weapon .tab-sidebar {
        flex-direction: column;
        max-width: 350px;
        gap: 2.5rem;
        padding: 0.5rem 2rem;
        margin: 0;
    }
    .sidebar-item {
        height: 138px;
    }
    .tab-sidebar::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: var(--divider-light-3);
    }
    .sidebar-item::before {
        position: absolute;
        content: '';
        left: calc(-2rem - 5px);
        top: calc(50% - 4px);
        width: 8px;
        height: 9px;
        border: 1px solid var(--divider-light-3);
        background-color: #010A15;
        z-index: 1;
    }
    .sidebar-item::after {
        position: absolute;
        content: '';
        left: calc(-2rem + 4px);
        top: 50%;
        width: calc(2rem - 4px);
        height: 1px;
    }
    .section-weapon .content {
        flex-direction: row;
    }
    .section-weapon .sidebar-item .item-img {
        margin: auto;
    }

    /* 6 */
    /* .section-experience {
        background-image: url('../img/experience-bg.png')!important;
    } */
    .section-experience .main-content {
        flex-direction: row;
    }
    .section-experience .experience-sidebar {
        display: flex;
        margin: 0;
    }
    .section-experience .content-text .title-section {
        text-align: left;
    }
    .section-experience .content-wrap {
        align-items: center;
        justify-content: flex-end;
        text-align: left;
        max-width: 423px;
        margin: 0 0 0 auto;
    }
    .section-experience .experience-slider {
        display: none;
    }
    .section-experience .title-section {
        font-size: 48px;
    }
    .title-feature {
        font-size: 16px;
    }
    .section-experience .featured-on {
        justify-content: flex-start;
    }
    .section-experience .featured-on img {
        max-width: 100%;
    }

    /* 7 */
    .section-license {
        align-items: flex-start;
    }
    .license-wrap {
        flex-wrap: nowrap;
        gap: 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 115px;
        max-height: calc(100vh - 185px);
    }
    .license-sidebar {
        max-width: 70%;
    }
    .license-sidebar {
        max-width: 30%;
    }
    .license-item {
        background-image: url('../img/license-item-bg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2.4rem 2.4rem;
        max-width: 100%;
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .license-item::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .license-item::after {
        content: '';
        position: absolute;
        top: 0;
        right: -5px;
        bottom: 0;
        width: 5px;
        height: 100%;
        background-image: url('../img/license-item-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 100%;
    }
    .license-item + .license-item {
        margin: 0 auto;
    }
    .license-bg-mob {
        display: none;
    }
    .license-item .price {
        font-size: 48px;
        margin: 0 0 .5rem;
    }
    .license-item .item-title {
        font-size: 28px;
        text-align: left;
        order: 1;
        grid-column: span 8 / span 8;
    }
    .license-item .btn.btn-transparent {
        margin: 0 0 0 auto;
        order: 2;
        grid-column: span 4 / span 4;
    }
    .license-item .price-col {
        text-align: left;
        order: 3;
        grid-column: span 4 / span 4;
    }
    .license-item .firearms-list {
        order: 4;
        grid-column: span 8 / span 8;
    }
    .section-license .title-section {
        text-align: left;
    }
    .banner-certificate {
        flex-direction: row;
        text-align: left;
        font-size: 20px;
        margin: 0 auto;
    }
    .banner-certificate .img-holder {
        margin: -55px 0 -75px;
    }

    /* 8 */
    .faq-wrap {
        gap: 2rem;
    }
    .faq-col,
    .contact-col {
        text-align: left;
        max-width: calc(50% - 1rem);
    }
    .faq-wrap .title-section {
        text-align: left;
    }
    .contact-col .item-title {
        font-size: 24px;
    }
    .faq-question {
        text-align: left;
        font-size: 24px;
        padding: 1.5rem;
    }
    .contact-col a {
        font-size: 24px;
        justify-content: flex-start;
    }
    .faq-question svg {
        width: 30px;
        height: 30px;
    }

}
@media (min-width: 1200px) {
    /* 7 */
    .license-item {
        column-gap: 0;
        row-gap: 0.5rem;
    }
    .license-item .price-col {
        grid-column: span 3 / span 3;
    }
    .license-item .firearms-list {
        grid-column: span 9 / span 9;
    }
}
@media (min-width: 1400px) {
    .weapon-info {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 4rem;
        font-size: 18px;
    }
    .nav-tabs {
        margin: 0 auto 3rem;
    }
    .weapon-wrap {
        margin: 0 0 3rem;
    }
    .weapon-info .weapon-info-title,
    .weapon-info .btn {
        grid-column: span 2 / span 2;
    }
    .weapon-info .btn {
        font-size: 22px;
    }
    .weapon-info .info-title {
        font-size: 31px;
    }
    .weapon-item .item-title {
        padding: 0.65rem 2rem;
    }
    /* 7 */
    .license-wrap {
        gap: 4rem;
    }
}
